{{define "content"}}
<h2>Electronic</h2>
<a href="/Electronic/insert">Add +</a>
<table>
    <thead>
    <tr>
        {{range .Fields}}
        <th>{{.Name}}</th>
        {{end}}
        <th>Actions</th>
        <th>Created At</th>
    </tr>
    </thead>
    <tbody>
    {{range .Records}}
    <tr>
        {{range .Fields}}
        <td>{{.Value}}</td>
        {{end}}
        <td><a href="/Electronic/{{.ID}}/edit">Edit</a>|<a href="/Electronic/{{.ID}}/delete">Del</a></td>
        <td>{{.CreatedAt}}</td>
    </tr>
    {{end}}
    </tbody>
</table>
{{end}}